  <div class="component">
<div class="component-title">
    <h5 class=center-align>Ahora mismo en la UNEG <i class="small material-icons amber-text">insert_chart</i>
            </h5>
  </div>

   <div class="row total-users center-align">
      <div class="col l6">
        <p>Total vehiculos: <span>{{ nTotalVehicles }}</span></p>
        
      </div>
      <div class="col l6">
        <p>Total personas: <span>{{ nTotalPeople }}</span></p>
        
      </div>
     
    </div>


    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class ="active" href="#nowpersonas">Estadísticas personas</a></li>
        <li class="tab col s6"><a href="#nowvehiculos">Estadísticas vehículos</a></li>
        <div class="indicator amber" style="z-index:1"></div>
      </ul>
    </div>

  </div>

  <div class= "component-body">
 
<div id="nowpersonas"> 
<ul class="collection">
    <li class="collection-item avatar">
     <i class="material-icons circle blue">android</i>
      <span class="title">Informatica</span>
      <p>{{nInformatica}} personas</p>
      <div class="progress">
      <div class="determinate" [style.width]="percentInformatica"></div>
  </div>
    </li>
    <li class="collection-item avatar">
       <i class="material-icons circle blue-gray">settings</i>
      <span class="title">Industrial</span>
      <p>{{nIndustrial}} personas</p>
      <div class="progress">
      <div class="determinate" [style.width]="percentIndustrial"></div>

      </div>
    </li>
    <li class="collection-item avatar">
       <i class="material-icons circle green">search</i>
      <span class="title">Cs. Fiscales</span>
      <p>{{nFiscales}} personas</p>
      <div class="progress">
      <div class="determinate" [style.width]="percentFiscales"></div>
      </div>
    </li>
    <li class="collection-item avatar">
       <i class="material-icons circle teal">folder</i>
      <span class="title">Contaduría</span>
      <p>{{nContaduria}} personas</p>
      <div class="progress">
      <div class="determinate" [style.width]="percentContaduria"></div>
      </div>
    </li>
  </ul>
  </div>

  <div id="nowvehiculos"> 
<ul class="collection">
    <li class="collection-item avatar">
     <i class="material-icons circle blue">android</i>
      <span class="title">Informatica</span>
      <p>{{nInformatica}} vehiculos</p>
      <div class="progress">
      <div class="determinate" [style.width]="percentInformatica"></div>
  </div>
    </li>
    <li class="collection-item avatar">
       <i class="material-icons circle blue-gray">settings</i>
      <span class="title">Industrial</span>
      <p>{{nIndustrial}} vehiculos</p>
      <div class="progress">
      <div class="determinate" [style.width]="percentIndustrial"></div>

      </div>
    </li>
    <li class="collection-item avatar">
       <i class="material-icons circle green">search</i>
      <span class="title">Cs. Fiscales</span>
      <p>{{nFiscales}} vehiculos</p>
      <div class="progress">
      <div class="determinate" [style.width]="percentFiscales"></div>
      </div>
    </li>
    <li class="collection-item avatar">
       <i class="material-icons circle teal">folder</i>
      <span class="title">Contaduría</span>
      <p>{{nContaduria}} vehiculos</p>
      <div class="progress">
      <div class="determinate" [style.width]="percentContaduria"></div>
      </div>
    </li>
  </ul>
  </div>
  </div>          
</div>