/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/

.white {
    background-color: #FFFFFFE6 !important;
}



.input-field textarea[class=materialize-textarea]:focus {
border-bottom: 1px solid #212121;
box-shadow: 0 1px 0 0 #212121;
color: #212121;
}