.progress .determinate {
    background-color: #FFC107;
}

.tabs .tab a {
    color: #212121;
}

.progress {
    background-color: #CFD8DC;
}

span{
    font-size: 20px;
    line-height: 20px;
    color: #7D8C9D;
    margin: 20px;
    text-align: center;
}

.total-users {
  margin-top: 20px;
}