  <div class="nav-wrapper transparent">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo white-text">
        <img class="responsive-img" src="./assets/img/logo.png" alt="ACSEG">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="#">Inicio</a></li>
        <li><a class="white-text" [routerLink]="['/home']">Dashboard</a></li>
        <li><a class="white-text" [routerLink]="['/login']">Ingresar</a></li>


        
      </ul>

      <ul id="nav-mobile" class="side-nav" materialize="sideNav">
        <li><a href="#">Inicio</a></li>
        <li><a [routerLink]="['/home']">Dashboard</a></li>
        <li><a [routerLink]="['/login']">Ingresar</a></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  </div>
  <main>
  <router-outlet></router-outlet>
  </main>
    <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ACSEG</h5>

        </div>
      </div>
    </div>
    <div class="footer-copyright grey lighten-1">
    <div class="center">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Total Autos</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="totalautos.com.ve" property="cc:attributionName" rel="cc:attributionURL">Joan Gil</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="totalautos.com.ve" rel="dct:source">acseg.com.ve</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="totalautos.com.ve " rel="cc:morePermissions">acseg.com.ve </a>.
      <div class="container">
      </div>
    </div>
    </div>
  </footer>
