<div class="slider">
    <ul class="slides">
      <li>
        <img src="./assets/img/background1.jpg"> 
        <div class="caption center-align">
          <h3>Acceso seguro y oportuno</h3>
          <h5 class="light grey-text text-lighten-3">Sistema automatizado de control de entrada</h5>
        </div>
      </li>
      <li>
        <img src="./assets/img/background2.jpg"> 
        <div class="caption left-align">
          <h3>Seguridad en todo momento</h3>
          <h5 class="light grey-text text-lighten-3">La tecnologías de reconocimiento y control
          usadas proporcionan seguridad a todos los unegistas.
          </h5>
        </div>
      </li>
      <li>
        <img src="./assets/img/background3.jpg"> 
        <div class="caption right-align">
          <h3>Para todos, en todo momento</h3>
          <h5 class="light grey-text text-lighten-3">Verificación del ingreso de vehículos y peatones</h5>
        </div>
      </li>
      <li>
        <img src="./assets/img/background4.jpg"> 
        <div class="caption center-align">
          <h3>Más control, más tranquilidad</h3>
          <h5 class="light grey-text text-lighten-3"> El sistema avisa cuando ocurran accesos no autorizados</h5>
        </div>
      </li>
    </ul>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text"><i class="material-icons">grade</i></h2>
            <h5 class="center">Sistema de calidad</h5>

            <p class="light"> El sistema de reconocimiento empleado son usados en todas las partes
            del mundo como soluciones de seguridad</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text "><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Seguridad total</h5>

            <p class="light"> Se prohibe el ingreso al recinto universitario a cualquier persona que no se encuentre registrada</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text"><i class="material-icons">thumb_up</i></h2>
            <h5 class="center">Monitoreo en tiempo real</h5>

            <p class="light">Se permite monitorear en todo momento las personas dentro y fuera del recinto universitario </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="row center">
    <div class="section no-pad-bot">
      <div class="container">
         
        </div>
      </div>
    </div>
    <div class="parallax" materialize="parallax"><img src="http://static.panoramio.com/photos/large/85308035.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>¿Por qué ACSEG?</h4>
          <p class="left-align light">ACSEG significa Acceso Seguro. Hasta ahora, el recinto universitario ha tenido un sistema ineficiente y dificil de controlar, ACSEG busca brindarle a toda la comunidad la seguridad y tranquilidad que requiere para desempeñar sus labores.
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="row center">
    <div class="section no-pad-bot">
      <div class="container">
        
        </div>
      </div>
    </div>
    <div class="parallax" materialize="parallax"><img src="https://www.lapatilla.com/site/wp-content/uploads/2015/01/31c4f5535de62d08d3c77216f98c1bff1305030949154973.jpg?x71671" alt="Unsplashed background img 2"></div>
  </div>


      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4> ¿Qué puedo hacer con ACSEG?</h4>
          <p class="center-align light"> ACSEG permite llevar el registro de las personas que ingresan a la universidad, de esta manera poder llevar reportes de uso: personas por carrera, sede. Además de permitir identificar quien se encuentra en la universidad en un determinado momento. 
          </p>
        </div>
      </div>

